---

---

<h1>CVRAPIDO Curriculum Vitae rápido</h1>

<script>
  import { actions } from "astro:actions";

  const call = async () => {
    const { data, error } = await actions.getColumnsPdfConversion();
    !error && console.log(data);
  };

  call();
</script>
