<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Pagina web gratuita para subir la hoja de vida en formato PDF y manipularla, editarla y actualizarla. Permite guardar diferentes versiones de tu hoja de vida y es compatible con la hoja de vida autogenerada por LinkedIn."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>
      cvrapido - Crea, actualiza y descarga tu hoja de vida de forma rapida
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
